{% load static %}

     <footer>
        <div class="footer-top">
            <div class="container">
                <img class="google-line pull-right" src="{% static "images/google-line.png" %}">
                <div class="col-xs-6 col-sm-4 col-md-3">
                <h4>Navigation</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/agenda">Agenda</a></li>
                        <li><a href="/speakers">Speakers</a></li>
                        <li><a href="/location">Location</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                <h4>Links</h4>
                    <ul>
                        <li><a href="http://brussels-gtug.org">brussels-gtug.org</a></li>
                        <li><a href="https://developers.google.com/">Google Developers</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <h4>Kontak</h4>
                    <ul>
                        <li><a href="mailto:bru-gtug@googlegroups.com">bru-gtug@googlegroups.com</a></li>
                     </ul>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 social">
                    <h4>Follow us</h4>
                    <a href="https://plus.google.com/events/c1g6ne2b5hm3n7nrla1oa1tnjvs"><img src="{% static "images/gplus.png" %}"></a>
<!--                    <a href=""><img src="{% static "images/gmail.png" %}"></a>-->
<!--                    <a href=""><img src="{% static "images/youtube.png" %}"></a>-->
                    <a href="https://twitter.com/search?q=%23devfest%20%23belgium&mode=realtime"><img src="{% static "images/twitter.png" %}"></a>
<!--                    <a href=""><img src="{% static "images/rss.png" %}"></a>-->
                </div>
            </div>
         </div>
      <div class="footer-bottom">
          <div class="container">
              <span id="plusone_holder" class="pull-right">
                    <div class="g-plusone" data-annotation="inline" data-width="250" data-href="http://brussels-gtug.org/"></div>
              </span>
			  <p>&copy; 2013 Designed and created by <a href="https://plus.google.com/102989169039151799851/about">Oleh Zasadnyy</a> &middot; <a href="http://lviv.gdg.org.ua/">GDG Lviv</a>
              </p>
           </div>
      </div>
</footer>
