{% load static %}

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Main Supporters</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.google.be/about/jobs/locations/brussels/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/google.png " %}" alt="Google" title="Google">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.betacowork.com/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/betacowork-coworking-brussels-logo.jpg " %}" alt="Betacowork" title="Betacowork">
            </a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Sponsors</h3>
    </div>
    <div class="col-md-9">
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="https://docs.google.com/presentation/d/1Qfdq3Pb1w7xsCimJKoMCXafeSsr1I2lzpeNTAgXV0JY/pub?start=false&loop=false&delayms=3000">Become a sponsor</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Partners</h3>
    </div>
    <div class="col-md-9">        
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="https://docs.google.com/presentation/d/1Qfdq3Pb1w7xsCimJKoMCXafeSsr1I2lzpeNTAgXV0JY/pub?start=false&loop=false&delayms=3000">Become a partner</a>
        </div>
    </div>
</div>

<div class="row partners-row">
    <div class="col-md-3">
        <h3 class="partners-text">Media Partners</h3>
    </div>
    <div class="col-md-9 ">
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.brusselsgirlgeekdinner.be/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/geek-girls.png " %}" alt="Geek Girls" title="Brussels Girl Geek Dinner">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://www.gdgac.org/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/gdgac.png " %}" alt="GDG Aachen" title="GDG Aachen">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners">
            <a href="http://openhack.github.io/brussels/">
                <img class="featurette-image img-responsive" src="{% static "images/partners/openhackday.png " %}" alt="Open Hack Day" title="Open Hack Day Brussels">
            </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="http://www.meetup.com/The-Belgian-AngularJS-Meetup-Group/">
                The Belgian AngularJS Meetup Group
            </a>
        </div>        
        <div class="col-xs-6 col-sm-3 col-md-3 partners partners-button">
            <a href="https://docs.google.com/presentation/d/1Qfdq3Pb1w7xsCimJKoMCXafeSsr1I2lzpeNTAgXV0JY/pub?start=false&loop=false&delayms=3000">Become a media partner</a>
        </div>
    </div>
 </div>
</div>
