{% extends "base.html" %}
{% load static %}

{% block page_title %}Agenda &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="alert alert-warning" style="margin: 15px;">
            <i><b>Hey!</b> The agenda is not final and still work in progress.</i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-11">
            <h2 class="day">Day 1 - Workshops</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 10:00"><span>16/11/13</span> <span>from 10:00 to 12:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>App Engine Workshop</h2>
                        <p>For beginners to learn how to write your python app in the cloud.</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 13:00"><span>16/11/13</span> <span>from 13:00 to 15:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Android Workshop</h2>
                        <p>For beginners with knowledge in Java or similar programming language</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 15:00"><span>16/11/13</span> <span>from 15:00 to 17:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>AngularJS Workshop</h2>
                        <p>For intermediate AngularJS developers</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 19:00"><span>25/10/13</span> <span>from 19:00 to ...</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Social</h2>
                        <p>Have a beer and explore smart gadgets!</p>
                    </div>
                </li>
            </ul>
            <h2 class="day">Day 1 - Tech Talks</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 10:00"><span>16/11/13</span> <span>from 10:00 to 11:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Unit testing with AngularJS</h2>
                        <p>TBC</p>
                    </div>
                </li>
            </ul>
            <h2 class="day">Day 2</h2>
            <ul>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-17 9:00"><span>17/11/13</span> <span>from 9:00 to 10:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Breakfast</h2>
                        <p>Start of open hack day</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-17 17:00"><span>17/11/13</span> <span>from 17:00 to 18:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Demo Show</h2>
                        <p>Show and discuss what you have created!</p>
                    </div>
                </li>
                        
             </ul>
        </div>
    </div>     
    
    <hr class="featurette-divider">
      

      {% include "blocks/partners.html" %}

{% endblock %}