{% extends "base.html" %}
{% load static %}

{% block page_title %}Agenda &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="alert alert-warning" style="margin: 15px;">
            <i><b>Hey!</b> The agenda is not final and still work in progress.</i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-11">
            <h2 class="day">Day 1 (A)</h2>
            <ul class="cbp_tmtimeline">
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 10:00"><span>16/11/13</span> <span>10:00 to 12:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>App Engine Workshop</h2>
                        <p>For beginners to learn how to write your python app in the cloud.</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 13:00"><span>16/11/13</span> <span>13:00 to 15:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Android Workshop</h2>
                        <p>For beginners with knowledge in Java or similar programming language</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 15:00"><span>16/11/13</span> <span>15:00 to 17:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>AngularJS Workshop</h2>
                        <p>For intermediate AngularJS developers</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 19:00"><span>25/10/13</span> <span>19:00 to ...</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Social</h2>
                        <p>Have a beer and explore smart gadgets!</p>
                    </div>
                </li>
            <h2 class="day">Day 1 (B)</h2>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 10:00"><span>16/11/13</span> <span>10:00 to 10:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>What is new in Android 4.4</h2>
                        <p>Pieter-Jan Vandormael</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 11:00"><span>16/11/13</span> <span>11:00 to 11:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Chromecast, Cheapcast and TV</h2>
                        <p>Sebastian Mauer</p>
                    </div>
                </li>                
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 13:00"><span>16/11/13</span> <span>13:00 to 13:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Unit testing with AngularJS</h2>
                        <p>TBC</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 13:45"><span>16/11/13</span> <span>13:45 to 14:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Why WebDevs should care about Polymer</h2>
                        <p>Polymer is a new type of library for the web, built on top of Web Components, and designed to leverage the evolving web platform on modern browsers.
                          In this hands-on session we will make our first steps in using this library.</p>
                        <p>Stefan Hoth</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 15:00"><span>16/11/13</span> <span>15:00 to 15:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Android Connectivity with Bluetooth Smart</h2>
                        <p>Since Android 4.3, Bluetooth Smart (aka Low Engery, 4.0) is supported with a standard API. 
                        In this session, we will get to know how to use it and experiment with some devices.</p>
                        <p>Friedger Müffke</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-16 16:00"><span>16/11/13</span> <span>16:00 to 16:45</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>JMonkey Development and Augmented Reality</h2>
                        <p>In this session, we will explore the OpenGL engine and how to use it for AR.</p>
                        <p>Mostafa Akbari</p>
                    </div>
                </li>                
            <h2 class="day">Day 2</h2>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-17 9:00"><span>17/11/13</span> <span>9:00 to 10:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Breakfast</h2>
                        <p>Start of open hack day</p>
                    </div>
                </li>
                <li>
                    <time class="cbp_tmtime" datetime="2013-11-17 17:00"><span>17/11/13</span> <span>17:00 to 18:00</span></time>
                    <div class="cbp_tmicon"></div>
                    <div class="cbp_tmlabel">
                        <h2>Demo Show</h2>
                        <p>Show and discuss what you have created!</p>
                    </div>
                </li>
                        
             </ul>
        </div>
    </div>     
    
    <hr class="featurette-divider">
      

      {% include "blocks/partners.html" %}

{% endblock %}
