{% extends "base.html" %} 

{% load static %} 

{% block carousel %} 
    {% include "blocks/carousel.html" %} 
{% endblock %} 

{% block content %}

<div class="container">
<div class="row featurette">
    <div class="col-md-5">
        <h2 class="featurette-heading">16/17 November, Brussels</h2>
        <p class="lead no_a_highlight">
            <a href="/location#location_1">Betacowork, 4 rue des Pères Blancs, 1040 EtterbeekBrussels, Belgium</a>
        </p>
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">What?</h2>
        <p class="lead">
            <b style="font-weight: 500;">DevFest</b> The main goal - meeting of all those developers interested in Google technologies to share experiences, acquaintances and learning. The program includes: workshops, code-labs, conference, open hack day.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/workshops.png" alt="Workshops">
        <h2>Workshops</h2>
        <p>
            <b style="font-weight: 600;">16 November</b>, three 3-hours workshops will take place to get you into mobile, cloud and web development. The workshops are targeted at beginners. 
            You should bring your laptops/computers. </p>
        <p>
            <a class="btn btn-default" href="/workshops">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/conference.png" alt="Tech Talks">
        <h2>Tech Talks</h2>
        <p>
            <b style="font-weight: 600;">16 November</b>, for advanced developers, there will be tech talks and code labs with lots of possiblities to discuss current projects, trends and challenges.</p>
        <p>
            <a class="btn btn-default" href="/techtalks">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-circle" src="/static/images/hackathon.png" alt="Open Hack Day">
        <h2>Open Hack Day</h2>
        <p>
            <b style="font-weight: 600;">16/17 November</b>, use the space at betacowork to work on open source projects, frameworks and new products.</p>
        <p>
            <a class="btn btn-default" href="/openhackday">Details &raquo;</a>
        </p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<hr class="featurette-divider">
</div>

{% include "blocks/partners.html" %} 

{% endblock %}
