{% extends "base.html" %}
{% load static %}

{% block page_title %}Location &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1 id="speakers_header">Location</h1>
            <div> 
                All activities of the whole weekend takes places in the <a href="#location_1">Betacowork</a>.
            </div>
        </div>        
    </div>

      <div class="row location_row">
        <div class="col-xs-12 col-sm-4 col-md-4 location-text">
            <a id="location_1"></a>
			      <a href="http://www.betacowork.com/"><img class="location_logo" src="{% static "images/partners/betacowork-coworking-brussels-logo.jpg" %}" alt="Betacowork"/></a>
            <h3>Betacowork</h3>
			      <p>4 rue des Pères Blancs, 1040 Etterbeek, Brussels, Belgium</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6">
			<a class="google_map" href="http://goo.gl/6xBZNB" >
          		<img class="map" src="http://maps.google.com/maps/api/staticmap?center=50.826738,4.400187&zoom=15&markers=color:red|label:D|50.826738,4.400187&size=570x300&sensor=true" alt="4 rue des Pères Blancs, 1040 Etterbeek, Brussels, Belgium">
			</a>
       </div>
	  </div>
	
		
      <hr class="featurette-divider">

      {% include "blocks/partners.html" %}
      
{% endblock %}
