{% extends "base.html" %}
{% load static %}

{% block page_title %}Speakers &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Meet the heros!</h1>

	  <div class="row speakers" >
           
          
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/friedger-mueffke.jpg" %}" alt="Sebastian Mauer">
			 </div>
			<div class="speaker-text">
	          	<h3>Sebastian Mauer<span class="speaker-country">(Germany)</span></h3>
				<h4>Organizer of GDG Aachen, Computer Science Student + Developer + Entrepreneur = Geek </h4>
				<p>Sebastian Mauer enjoys being a student and taking on Project like Frisbee, Cheapcast,...
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/friedger-mueffke.jpg" %}" alt="Friedger Müffke">
			 </div>
			<div class="speaker-text">
	          	<h3>Friedger Müffke<!--span class="speaker-country">(Belgium)</span--></h3>
				<h4>Organizer of GTUG Brussels, Android developer at Novoda</h4>
				<p>Friedger Müffke is organizer of several Android and developer conferences and events, including Droidcon, Global Android Dev Camp and V Hack Android. He is 
        a passionate open source developer for Android.
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/pieter-jan-vandormael.jpg" %}" alt="Pieter-Jan Vandormael">
			 </div>
			<div class="speaker-text">
	          	<h3>Pieter-Jan Vandormael<!--span class="speaker-country">(Belgium)</span--></h3>
				<h4>Organizer of GTUG Brussels</h4>
				<p>Before DevFest, Pieter-Jan brought extended hackathon formats, such as Global Android Dev Camp and V Hack Android, to West-European soil. With his Java background, he has been on the Android track from the beginning, developing apps in his spare time. And having a keen interest in extending the open source platform at its base, through patching, sharing common tools and building blocks, building and engaging communities, he tries to steer where this train is going as well.
        </p>
			</div>
		</div>

	</div>
	 	
      <div class="well"> 
          <div class="row">
            <div class="col-md-2"><a href="https://docs.google.com/forms/d/15JU2jaxtqcBwTeFCMq4FjmEAnBI8BwTwfGBsFLkReW0/viewform" id="become_speaker"  class="btn btn-default">Become a speaker</a></div>
            <div class="col-md-10"><i>Do you have worked with or on an interesting project? Do you like to share your knowledge? We are looking for 
            local heros. Show off your work!</i></div>
         </div></div>
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
