{% extends "base.html" %}
{% load static %}

{% block page_title %}Speakers &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Meet the experts!</h1>

	  <div class="row speakers" >
           
          
		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/mostafa-akbari.jpg" %}" alt="Stefan Hoth">
			 </div>
			<div class="speaker-text">
	          	<h3>Mostafa Akbari<span class="speaker-country">(Germany)</span></h3>
				<h4>mobile, Android, soical business, basketball, Kölsch, 2.0, e-Learning</h4>
				<p>Mostafa Mostafa has a diploma in CS with minor in psychology.  He worked as a researcher and gained StartUp experience as CTO at the Interpad Project. Besides he consulted some startUps and cooperations until now in topics of mobile, software product development. 
    In 2006 he ran his first AR project at RWTH Aachen. He has been working on AR with Simon Heinen till 2009. In 2012 they started bitstars.
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/stefan-hoth.jpg" %}" alt="Stefan Hoth">
			 </div>
			<div class="speaker-text">
	          	<h3>Stefan Hoth<span class="speaker-country">(Germany)</span></h3>
				<h4>Professional developer, community manager and geek living in Berlin, Germany.</h4>
				<p>Stefan is a freelance developer interested in a lot of technologies. Recently he finished a few Android projects but before that he did projects in Java, PHP, Javascript. 
    In his sparetime he likes to share curiosity for new frameworks, languages and best practices by co-organizing the GDG Berlin, Berlin Hack and Tell and OpenTechSchool Berlinin.
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/sebastian-mauer.JPG" %}" alt="Sebastian Mauer">
			 </div>
			<div class="speaker-text">
	          	<h3>Sebastian Mauer<span class="speaker-country">(Germany)</span></h3>
				<h4>Organizer of GDG Aachen, Computer Science Student + Developer + Entrepreneur = Geek </h4>
				<p>Sebastian enjoys being a student and taking on Project like Frisbee, Cheapcast,...
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/friedger-mueffke.jpg" %}" alt="Friedger Müffke">
			 </div>
			<div class="speaker-text">
	          	<h3>Friedger Müffke<!--span class="speaker-country">(Germany)</span--></h3>
				<h4>Organizer of GTUG Brussels, Android developer at Novoda</h4>
				<p>Friedger is organizer of several Android and developer conferences and events, including Droidcon, Global Android DevCamp and VHackAndroid. He is 
        a passionate open source developer for Android.
        </p>
			</div>
		</div>

		 <div class="col-xs-12 col-sm-12 col-md-6 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/pieter-jan-vandormael.jpg" %}" alt="Stefan Hoth">
			 </div>
			<div class="speaker-text">
	          	<h3>Pieter-Jan Vandormeal<span class="speaker-country">(Germany)</span></h3>
				<h4>Android (developer), nanotechnology, software engineering</h4>
				<p>
        </p>
			</div>
		</div>

	</div>
	 	
      <div class="well"> 
          <div class="row">
            <div class="col-md-2"><a href="https://docs.google.com/forms/d/15JU2jaxtqcBwTeFCMq4FjmEAnBI8BwTwfGBsFLkReW0/viewform" id="become_speaker"  class="btn btn-default">Become a speaker</a></div>
            <div class="col-md-10"><i>Do you have worked with or on an interesting project? Do you like to share your knowledge? We are looking for 
            local heros. Show off your work!</i></div>
         </div></div>
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
