{% extends "base.html" %}
{% load static %}

{% block page_title %}Team &middot; GDG DevFest Belgium 2013{% endblock %}

{% block carousel %}
    {% include "blocks/carousel.html" %}
{% endblock %}

{% block content %}
    
    <h1 id="speakers_header">Team</h1>

	  <div class="row speakers" >
           
          <div class="col-xs-12 col-sm-12 col-md-8 ">
			 <div class="speaker-photo">
			 	<img class="img-circle pull-left" src="{% static "images/speakers/friedger-mueffke.jpg" %}" alt="Friedger Müffke">
			 </div>
			<div class="speaker-text">
	          	<h3>Friedger Müffke</h3>
				<h4>Organizer, GTUG Brussels</h4>                
            <h4>Android Developer, Novoda</h4>
				<p>Late night worker</p>
			</div>
		</div>
          
		 <div class="col-xs-12 col-sm-12 col-md-4 ">
             <h3><br/></h3>
			 <h5>Contact</h5>
			 <ul>
                 <li>Google+: <a href="http://gplus.to/friedger/about">gplus.to/friedger</a></li>
                 <!--li>Email: <a href="mailto:vitaliy.zasadnyy@gdg.org.ua">vitaliy.zasadnyy@gdg.org.ua</a></li-->
                 <!--li>Site: <a href="http://zasadnyy.org.ua/">zasadnyy.org.ua</a></li-->    
          </ul>
		</div>
		
	  </div>

     
	 	
		
      <hr class="featurette-divider">
	  {% include "blocks/partners.html" %}

{% endblock %}
